/*********************************
 Header
**********************************/
@use "../modules" as m;

.header {
  @include m.flex($gap: 50px, $ai: center, $jc: space-between);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background: m.$white;
  z-index: 100;
  user-select: none;
  @include m.transition(box-shadow);
  @include m.mqMax {
    height: 80px;
    padding: 0 20px;
  }

  .admin-bar & {
    top: 32px;
  }

  .is-scrolled & {
    box-shadow: 0 0 10px -5px m.$black;
  }

  &__logo {
    max-height: 70px;
    pointer-events: none;
    @include m.mqMax {
      max-height: 50px;
    }
  }

  &__nav {
    flex: 1;
    @include m.flex($gap: 50px, $ai: center, $jc: flex-end);
    @include m.mqMax {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 100%);
      overflow-y: scroll;
      background: m.$white;
      opacity: 0;
      visibility: hidden;
      @include m.transition(opacity, visibility);

      .admin-bar & {
        top: calc(100% + 32px);
        height: calc(100vh - (100% - 32px));
      }

      .is-menu-opened & {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* Menu */
.menu {
  @include m.flex($gap: 30px, $ai: center, $jc: flex-end);
}

/* Menu Bar */
.menu-bar {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 40px;
  cursor: pointer;

  &::before,
  &::after,
  &__middle {
    content: '';
    position: absolute;
    left: 50%;
    width: 100%;
    height: 2px;
    background: m.$black;
    transform: translate(-50%, -50%);
    @include m.transition(top, transform, opacity);
  }
  
  &::before {
    top: calc(50% - 10px);

    .is-menu-opened & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__middle {
    top: 50%;

    .is-menu-opened & {
      opacity: 0;
    }
  }

  &::after {
    top: calc(50% + 10px);

    .is-menu-opened & {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}